name: 'Dist up-to-date'

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  distUpToDateCheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
  
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
  
      - name: npm install
        run: npm install
  
      - name: Build
        run: npm run build
  
      - name: Verify dist is up-to-date
        run: git diff --exit-code
